<h1>Your todo list</h1>
<div class="task-block">
  <input class="task-input" placeholder="Enter your task name here">
  <div class="task-list">
    <div *ngIf="!isDataLoad">
      <div *ngFor="let task of taskTemplate">
        <app-task-item-skeleton></app-task-item-skeleton>
      </div>
    </div>
    <div *ngIf="isDataLoad">
      <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
    </div>
  </div>
  <div class="task-bottom">
    <div class="task-left" >0 tasks left</div>
    <div class="task-radio">
      <label for="filter-all">
        <input id="filter-all" type="radio" name="filter" [checked]="true">
        <span>All</span>
      </label>
      <label for="filter-todo">
        <input id="filter-todo" type="radio" name="filter">
        <span>ToDo</span>
      </label>
      <label for="filter-completed">
        <input id="filter-completed" type="radio" name="filter">
        <span>Completed</span>
      </label>
    </div>
  </div>
</div>
